<template name="main">
	<div class="navbar navbar-default navbar_cc" role="navigation">
		<div class="navbar-header">
			<a class="navbar-brand" href="{{pathFor route='home'}}">Coffee and Code</a>
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-left">
				{{#if isInRole 'admin'}}
					<li><a href="/eventForm">Cadastro de Evento</a></li>
					<li><a href="/topicForm">Cadastro de Tópico</a></li>
				{{/if}}
			</ul>
			<ul class="nav navbar-nav navbar-right">
				{{#if currentUser}}
					<li><a>{{ fullUserName }}</a></li>
					<li><a href="{{pathFor route='home'}}" class="saml-logout">Logout</a></li>
				{{else}}
					<li><a href="{{pathFor route='home'}}" class="saml-login" data-provider="TotvsLabs">Login with Fluig Identity</a></li>
				{{/if}}
			</ul>
		</div>
	</div>

	{{> yield}}

</template>
